[submodule "deps/rapidxml"]
	path = deps/rapidxml
	url = http://github.com/dwd/rapidxml
[submodule "deps/sigslot"]
	path = deps/sigslot
	url = http://github.com/dwd/sigslot
[submodule "deps/spiffing"]
	path = deps/spiffing
	url = http://github.com/surevine/spiffing
[submodule "deps/openssl"]
	path = deps/openssl
	url = git://git.openssl.org/openssl.git
[submodule "deps/libevent"]
	path = deps/libevent
	url = https://github.com/libevent/libevent
