[submodule "deps/rapidxml"]
	path = deps/rapidxml
	url = http://github.com/dwd/rapidxml
[submodule "deps/sigslot"]
	path = deps/sigslot
	url = http://github.com/dwd/sigslot
[submodule "deps/spiffing"]
	path = deps/spiffing
	url = http://github.com/surevine/spiffing
